.jumbotron {
  background-color: #0335fc;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn {
  background-color: #062b22;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #abeadb;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-addres-icon {
  padding-right: 10px;
  padding-left: 10px;
}
.tab-content {
  padding-top: 10px;
}
.btn-contacto {
  width: 100%;
  border-radius: 0px;
  color: white;
}
.btn-link {
  background-color: white;
  width: 50%;
  border-radius: 0px;
}
