$green: #24a587;
$btngreen: #062b22;
$footergreen: #abeadb;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $green;
	color: white;
	@include margenes(50px, 0px);
}

.btn{
	background-color: $btngreen;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $footergreen;
	@include margenes(10px, 0px);
}

.card-hotel{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	@include margenes(10px, 0px);
}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-addres-icon{
	padding-right: 10px;
	padding-left: 10px;
}

.tab-content{
	padding-top: 10px;
}

.btn-contacto{
	width: 100%;
	border-radius: 0px;
	color: white;
}

.btn-link{
	background-color:white ;
	width: 50%;
	border-radius: 0px;
	
}